.home-container {
    padding: 40px;
    background-color: #B0ACA2; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
  }
  
  .home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #010101; 
    margin-bottom: 20px;
  }
  
  .home-message {
    background-color: #F5ECE5; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #010101; 
  }
  
  .home-feature {
    background-color: #45523E; 
    padding: 20px;
    border-radius: 10px;
    color: #F5ECE5; 
  }
  
  .home-feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  