.dashboard-title {
    font-size: 2.5rem;
    color: #010101;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .courses-container {
    padding: 20px;
    background-color: #B0ACA2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .course-block {
    margin-bottom: 20px;
  }
  
  .lesson-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .lesson-link {
    color: #010101;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, font-weight 0.3s ease-in-out; /* Added font-weight transition */
  }
  
  .lesson-link:hover {
    color: #010101;
    transform: scale(1.1);
    font-weight: bold; 
  }
  
  .edit-courses-btn {
    background-color: #45523E;
    color: #F5ECE5;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
  }
  
  .edit-courses-btn:hover {
    background-color: #4a7b5c;
  }
  
  .popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #B0ACA2;
    padding: 20px;
    border: 1px solid #B0ACA2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    border-radius: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .close-btn {
    cursor: pointer;
    padding: 8px 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  