.custom-navbar {
    background-color: #45523E;
}
.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5ECE5;
  }
  
  .navbar-logo {
    width: 150px;
    height: auto; 
  }

  .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #f5ECE5; 
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f5ECE5; 
  }
  
  .navbar-nav .nav-link.active {
    color: #f5ECE5; 
    font-weight: bold;
  }
  
  .navbar-toggler {
    border-color: transparent;
  }
  
  .navbar-toggler-icon {
    color: #007bff;
  }
  