/* Navbar.css */

/* Styling for the brand title */
.custom-navbar {
    background-color: #45523E; /* Example custom green background color */
}
.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5ECE5;
  }
  
  .navbar-logo {
    width: 150px; /* Adjust the logo size */
    height: auto; /* Keep the aspect ratio */
  }
  /* Style the nav links */
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #f5ECE5; /* Default link color */
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f5ECE5; /* Change color on hover */
  }
  
  .navbar-nav .nav-link.active {
    color: #f5ECE5; /* Highlight the active link */
    font-weight: bold;
  }
  
  /* Spacing for mobile toggle icon */
  .navbar-toggler {
    border-color: transparent;
  }
  
  .navbar-toggler-icon {
    color: #007bff;
  }
  